@model TingleVendas.Models.Click

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Click</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCarga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Atividade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Atividade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrupoUnidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrupoUnidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inicioagendamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inicioagendamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fimagendamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fimagendamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ddd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ddd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilialIi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilialIi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrupoCanal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrupoCanal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodSap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodSap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePdv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePdv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndVendaConjunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndVendaConjunta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFechamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFechamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFimPriAgendamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFimPriAgendamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFimUltAgendamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFimUltAgendamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdReagendamentoClick)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdReagendamentoClick)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agendado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agendado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codencerramento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codencerramento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Safra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Safra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeMunicipio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeMunicipio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matriculatecnico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matriculatecnico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tecnico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tecnico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatriculaVendedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatriculaVendedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nrba)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nrba)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GcCarteira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GcCarteira)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contato1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contato1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contato2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contato2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contato3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contato3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contatoefetivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contatoefetivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpfCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpfCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coordenador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coordenador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelCoord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelCoord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prontoparaexecucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prontoparaexecucao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoLogr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoLogr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeLogr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeLogr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumPorta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumPorta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCompl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCompl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumLoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumLoc)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
