@model IEnumerable<TingleVendas.Models.RelatorioPendencias>


@{
    ViewData["Title"] = "Home Page";
}
<!--<style>
    div.dataTables_wrapper {
        width: 800px;
        margin: 0 auto;
    }
</style>-->
<!--<div class="text-center">
    <h1 class="display-4">Olá</h1>
    <p>Bem-vindo ao sistema de gestão de vendas da MDV</p>

</div>-->

    <body onload="grid();">
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <!--<form asp-action="Index" asp-route-pAno="cboAno.Value" asp-route-pMes="cboMes.Value">-->
                <form asp-action="Index">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Selecione o ano</label>
                                <input type="number" id="cboAno" name="pAno" class="form-control" style="width:200px" value="@ViewData["anoCorrente"]" min="2020" step="1">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Selecione o mês</label>
                                <select id="cboMes" name="pMes" class="form-control" asp-items="ViewBag.ListaMeses"></select>
                            </div>
                        </div>
                        @*<div class="col-md-3">
                            <div class="form-group">
                                <label>Selecione o supervisor</label>
                                <select id="cboSupervisor" name="pSupervisor" class="form-control" asp-items="ViewBag.ListaSupervisor"></select>
                            </div>
                        </div>*@

                        <div class="col-md-2">
                            <div class="form-group">
                                <label style="visibility:hidden">Botão</label>
                                <input type="submit" id="GFG_Button" style="width:150px" value="Pesquisar" class="btn btn-primary btn-block">
                            </div>
                        </div>
                    </div>

                </form>
                <div class="row">
                </div>
            </div>
        </section>
        <!--<table id="dtprincipal" class="table table-hover table-bordered table-striped">-->
        <table id="dtprincipal" class="display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th rowspan="2">Pedido</th>
                    <th rowspan="2">Nome</th>
                    <th rowspan="2">CPF</th>
                    <th colspan="8">Status Click</th>
                    <th colspan="5">|Dados complementares do cliente</th>
                </tr>
                <tr>
                    <th>
                        Status fechada
                    </th>
                    <th>
                        Descrição status
                    </th>
                    <th>
                        Qtd Atribuições
                    </th>
                    <th>
                        Agendamento futuro
                    </th>
                    <th>
                        Último agendamento
                    </th>
                    <th>
                        Tipo de pedido
                    </th>
                    <th>
                        Bairro
                    </th>
                    <th>
                        Data Pedido
                    </th>
                    <th>
                        Supervisor interno
                    </th>
                    <th>
                        Supervisor externo
                    </th>
                    <th>
                        Vendedor interno
                    </th>
                    <th>
                        Vendedor externo
                    </th>
                    <th>
                        Status da pendência
                    </th>
                    <th>
                        Observação da pendência
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    @*<td>

            <a href="#modal-default" data-toggle="modal" data-target="#modal-default">
            <a target="_blank" asp-controller="Oi360" asp-action="InfoAd" asp-route-id="@item.NumPedido" asp-route-pAno="@item.Ano" asp-route-pMes="@item.Mes">
            Adic. Observação
            </a>
            <!--<button type="button" id="btnModal" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                Adic. Observação
            </button>-->
        </td>*@

                    <td>
                        @Html.DisplayFor(modelItem => item.NumPedido)
                    </td>
                    <td>
                        @if (@item.qtd_atribuicoes > 0)
                        {
                <a target="_blank" asp-controller="Click" asp-action="Index" asp-route-pNomeCliente="@item.NomeCliente">
                    @Html.DisplayFor(modelItem => item.NomeCliente)
                </a> }
            else
            {
                @Html.DisplayFor(modelItem => item.NomeCliente)}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cpf)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status_Fechada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Desc_Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.qtd_atribuicoes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.agendamentofuturo)
                    </td>
                    <td>
                        @if (item.ultimoAgendamento.ToString() != "01/01/0001 00:00:00")
                        {
                @Html.DisplayFor(modelItem => item.ultimoAgendamento)}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoPedido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bairro)
                    </td>
                    <td>
                        @Convert.ToDateTime(item.DataPedido).ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeSupervisorInterno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeSupervisorExterno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeVendedorInterno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeVendedorExterno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status_pendencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.observacaoPendencia)
                    </td>

                </tr>
                }
            </tbody>
        </table>

        <!--MODAL POPUP-->
        <form asp-action="Edit" asp-route-pano="@ViewData["anoCorrente"]" asp-route-pmes="@ViewData["mesCorrente"]">
            <div class="modal fade" id="modal-default">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Informação</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <textarea rows="2" class="form-control" ></textarea>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <a asp-action="LogImp">Adicionar observação</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript:location.reload();">Close</button>
                            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
       </form>

            <!-- page script -->

            <script>function grid() {
                    $('#dtprincipal').DataTable({
                        "scrollX": true,
                        dom: 'lBfrtip',
                        buttons: [
                            'copyHtml5',
                            'excelHtml5',
                            'csvHtml5',
                            'pdfHtml5'
                        ],
                        "language": {
                            "lengthMenu": "Mostrar _MENU_&nbsp; &nbsp; &nbsp;",
                            "zeroRecords": "Nenhum registro",
                            "info": "Página _PAGE_ de _PAGES_",
                            "infoEmpty": "Nenhum registro",
                            "infoFiltered": "(filtrado de _MAX_ total registros)",
                            "search": "Procurar",
                            "loadingRecords": "Carregando...",
                            "processing": "Processando...",
                            "paginate": {
                                "first": "Primeiro",
                                "last": "Último",
                                "next": "Próximo",
                                "previous": "Anterior"
                            }
                        }


                    });
                }

                function searchAdv(busca) {

                    var table = $('#dtprincipal').DataTable();
                    table.search(busca).draw();

                }</script>
    </body>
