@model TingleVendas.Models.Oi360Detalhes

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Oi360Detalhes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacaoAuditor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacaoAuditor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProtocoloOiVende)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProtocoloOiVende)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentoVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentoVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckListDocumentoClienteOk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckListDocumentoClienteOk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckListPropostaOk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckListPropostaOk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckListConfirmacaoClienteOk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckListConfirmacaoClienteOk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaAtendimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaAtendimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPedidoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroPedidoNavigation.NumeroDoPedido)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusOiVendeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusOiVendeNavigation.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupervisorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupervisorNavigation.Cpf)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendedorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendedorNavigation.Cpf)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
