@model TingleVendas.Models.Municipio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Municipio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Municipio1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Municipio1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UfNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UfNavigation.Sigla)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMunicipio">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
