@model TingleVendas.Models.Bov

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bov</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoSapPdv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoSapPdv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrupoUnidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrupoUnidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BovStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BovStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotivoRetirada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotivoRetirada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumIdentidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumIdentidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SegmentoMercado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SegmentoMercado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneContato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneContato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetodoPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaVencimentoFatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaVencimentoFatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCorte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCorte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoLogradouroInstalacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoLogradouroInstalacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeLogradouroInstalacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeLogradouroInstalacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroInstalacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroInstalacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCompInstalacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCompInstalacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumComp1Instalacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumComp1Instalacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumComp2Instalacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumComp2Instalacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumComp3Instalacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumComp3Instalacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BairroInstalacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BairroInstalacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MunicipioInstalacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MunicipioInstalacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoInstalacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoInstalacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CepInstalacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CepInstalacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumLocalidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumLocalidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoEstacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoEstacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUnicoAcesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUnicoAcesso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAcessoAssociado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAcessoAssociado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcessoGpon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcessoGpon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DddFixo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DddFixo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroFixo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroFixo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassePlano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassePlano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Velocidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Velocidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdPontosAdicionaisTv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdPontosAdicionaisTv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tecnologia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tecnologia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinhaProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinhaProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanoAnterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanoAnterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCampanha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCampanha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeOferta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeOferta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCampanhaAnterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCampanhaAnterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeOfertaAnterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeOfertaAnterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCampanhaOriginal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCampanhaOriginal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeOfertaOriginal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeOfertaOriginal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoSap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoSap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PontoVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PontoVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCanal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCanal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoginVendedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoginVendedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoCriadoPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PedidoCriadoPor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdicaoPonto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdicaoPonto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroAtivoPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroAtivoPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClasseProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClasseProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdTotalPontos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdTotalPontos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InteressePortabilidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InteressePortabilidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPromocao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPromocao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBundle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBundle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtAbertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtAbertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CriadoEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CriadoEm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModificadoEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModificadoEm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndCombo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndCombo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanoBundle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanoBundle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPosseCombo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPosseCombo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CdCampMovelTit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CdCampMovelTit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampMovelTit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampMovelTit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CdOftMovelTit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CdOftMovelTit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SitBundle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SitBundle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoRede)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoRede)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoCanalBov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoCanalBov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BundleTipoEventoVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BundleTipoEventoVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BundleSitFixo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BundleSitFixo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BundleSitVlx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BundleSitVlx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BundleSitTv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BundleSitTv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BundleSitMovelTit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BundleSitMovelTit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlgVendaValida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlgVendaValida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BundleProdutoNovo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BundleProdutoNovo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadeNegocio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnidadeNegocio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TpRetirada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TpRetirada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BundleMaMovelTit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BundleMaMovelTit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BundleNumeroDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BundleNumeroDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BundleContratoTv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BundleContratoTv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BundleNumeroDocumentoTv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BundleNumeroDocumentoTv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlgMigCobreFixo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlgMigCobreFixo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlgMigCobreVelox)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlgMigCobreVelox)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlgMigTv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlgMigTv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoginOit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoginOit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
